# Python cache files
__pycache__/
*.py[cod]
*$py.class

# DVC folder (metadata and config, not actual data)
.dvc/
dvc
dvc/
dvc.lock
dvc.yaml
Dockerfile

# MLflow runs folder (can be big)
mlruns/

# Large or raw data (ignore if you handle via DVC or don’t want in git)
data/
data/*.csv

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
venv/
env/
test
test/

# Logs
*.log
*.tmp

# OS files
.DS_Store
